body {
    margin: 20px;
    background-color: navy;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white
}

h1 {
    letter-spacing: 4.5px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}

#span1 {
    color: yellow;
    font-weight: bold;
    text-decoration: underline;
}

h1:hover {
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

div {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1em;
}

#babes {
    color: red;
    font-style: italic;
}

.chart {
    width: 30%;
    border: white 15px;
    border-radius: 10px;
    background-color: pink;
    margin: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 8px;
}