body {
    margin: 20px;
    background-color: navy;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    border: white solid 5px;
}

h1 {
    letter-spacing: 4.5px;
    text-align: center;
}

#span1 {
    color: lightgreen;
    font-weight: bold;
}

#headerdiv {
    text-align: center;
}

.chart {
    width: 400px;
    border: lightgreen solid 5px;
    border-radius: 10px;
    margin: 10px;
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 8px;
}

h3 {
    text-align: center;
    text-decoration: underline;
}

#footerh2 {
    text-align: center;
    text-decoration: underline;
}

#footerul {
    text-align: center;
}

footer {
    width: 880;
    background-color: lightgreen;
    color: black;
    font-size: 1.2em;
    outline: black solid 5px;
}


