body {
    margin: 20px;
    background-color: #fdd935;
    font-family: 'Courier New', Courier, monospace;
    color: #000000;
}

h1 {
    letter-spacing: 4.5px;
    text-align: center;
}

#span1 {
    color: red;
    font-weight: bold;
}

#bristolspan {
    color: red;
}

#headerdiv {
    text-align: center;
}

section {
    position: relative;
}

.chart {
    border: lightgreen solid 5px;
    border-radius: 10px;
    margin: 10px;
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 8px;
    display: flex;
}

h3 {
    text-align: center;
    text-decoration: underline;
}

.description {
    margin-left: 10%;
    margin-right: 10%;
}

#week10 {
    margin-bottom: 1.75em;
}

#week1 {
    margin-top: 1.75em;
}

.button1 {
    margin-left: 15px;
    margin-right: 15px;
    font-family: 'Courier New', Courier, monospace;
    background-color: red;
    font-weight: bold;
    border: white solid 1.5px;
    border-radius: 1.5em;
    padding: 1.5em;
    color: black;
}

.button1:hover {
    cursor: pointer;
    transition-duration: 0.2s;
    color: red;
    background-color: black;
}

#portfolio {
    color: red;
}





