body {
    background-color: navy;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

#project {
    color: red;
}

.button1 {
    margin-left: 15px;
    margin-right: 15px;
    font-family: 'Courier New', Courier, monospace;
    background-color: red;
    font-weight: bold;
    border: white solid 1.5px;
    border-radius: 1.5em;
    padding: 1.5em;
    color: black;
}

.button1:hover {
    cursor: pointer;
    padding: 2em;
    transition-duration: 0.2s;
}

#topdiv {
    margin: 1em;
}

#p1 {
    position: absolute;
    text-align: center;
    width: 100%;
}


