body {
    background-color: #6e6e6e;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

#project {
    color: #bcfd4c;
}

.button1 {
    margin-left: 15px;
    margin-right: 15px;
    font-family: 'Courier New', Courier, monospace;
    background-color: #bcfd4c;
    font-weight: bold;
    border: white solid 1.5px;
    border-radius: 1.5em;
    padding: 1.5em;
    color: black;
}

.button1:hover {
    cursor: pointer;
    transition-duration: 0.2s;
    color: red;
    background-color: black;
}

#topdiv {
    margin: 1em;
}

#p1 {
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10px;
}

#chartlist {
    text-align: left;
    margin-left: 17.5%;
    margin-right: 17.5%;
}

#main {
    line-height: 1.3;
}

li {
    margin: 20px;
}

.chart {
    border: lightgreen solid 5px;
    border-radius: 10px;
    margin: 10px;
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 8px;
    display: flex;
}



